/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .service__desc {
        margin: 20px 0 auto;
        font-size: 1.8rem;
    }

    .work {
        padding: 86px 0;
    }

    .work-item__img {
        width: 80%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .hero {
        overflow: hidden;
    }

    .hero__row {
        position: relative;
        flex-direction: row-reverse;
        align-items: center;
    }

    .hero__content {
        margin-top: 100px;
        overflow: hidden;
    }

    .hero__row::before {
        position: absolute;
        right: 0;
        bottom: 0;

        content: url(../img/hero-content-decor.png);
    }

    .client__row {
        align-items: center;
    }

    .logo__list {
        grid-template-columns: repeat(4, auto);
    }

    .service-item {
        padding: 42px 32px;
    }

    .service-item__icon {
        width: 74px;
        height: 74px;
    }

    .work__top {
        padding-top: 86px;
    }

    .work__title {
        padding: 0;
    }

    .work__desc {
        font-size: 1.8rem;
    }

    .work-item {
        padding: 24px 24px 24px 34px;
        height: 234px;

        column-gap: 47px;
    }

    .work-item__content {
        width: 44%;
    }

    .work-item__title {
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -1.28px;
    }

    .work-item__desc {
        margin-top: 10px;
    }

    .work-item__link {
        margin-top: 20px;
    }

    .work-item__img {
        width: 100%;
    }

    .stat__list {
        width: 80%;
    }

    .stat-item__desc {
        width: 100%;
    }

    .about {
        margin-top: 140px;
        padding: 0;
    }

    .about-stats {
        margin-top: 70px;
    }

    .feedback {
        margin-top: 76px;
        padding: 74px 0;
    }

    .feedback__quote {
        font-size: 2.4rem;
    }

    .feedback::before,
    .feedback::after {
        width: 300px;
        height: 200px;
        bottom: -50px;
    }

    .feedback::before {
        left: -90px;
    }

    .feedback::after {
        right: -90px;
    }

    .faq {
        margin-top: 95px;
        padding: 0;
    }

    .cta__row {
        padding: 48px 80px;
    }

    .footer__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-logo__link,
    .footer-logo__link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-mail {
        order: 1;
        margin-top: 0;
    }

    .footer-navbar {
        order: 2;
    }

    .footer-navbar .navbar__list {
        margin-top: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .btn {
        --height: 62px;

        min-width: 170px;
        padding: 16px 37px;

        font-size: 1.8rem;
        font-weight: 700;
    }

    .mobile-menu-wrap {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .header-mail__text {
        display: block;
    }

    .pc-navbar {
        display: block;
    }

    .header__inner {
        flex-direction: row-reverse;
        border-bottom: none;
    }

    .navbar__list {
        display: flex;
        align-items: center;
        column-gap: 43px;
    }

    .hero__img {
        width: 514px;
        height: 705px;
    }

    .hero__title {
        font-size: 6rem;
    }

    .hero__desc {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
        width: 70%;
    }

    .hero__action {
        margin-top: 50px;
    }

    .hero__socials {
        margin-top: 109px;

        column-gap: 15px;
    }

    .social__icons {
        column-gap: 20px;
    }

    .social__icon {
        width: 40px;
    }

    .client__title {
        position: relative;
        width: 253px;

        font-size: 4.2rem;
        text-align: left;
    }

    .client__title::before {
        width: 86px;
        left: -80px;

        top: 22px;
    }

    .logo__list {
        grid-template-columns: repeat(3, auto);
    }

    .service {
        margin-top: 140px;
    }

    .service__dots {
        display: none;
    }

    .about__hey {
        font-size: 3.2rem;
    }

    .play-btn {
        width: 111px;
        height: 111px;
    }

    .video__text {
        font-size: 1.8rem;
    }

    .stat-item__number {
        font-size: 5.6rem;
        letter-spacing: 1.68px;
    }

    .stat-item__desc {
        font-size: 1.8rem;
    }

    .feedback__title {
        font-size: 5.6rem;
        letter-spacing: -2.24px;
    }

    .feedback__desc {
        font-size: 1.8rem;
    }

    .feedback::before,
    .feedback::after {
        width: 395.256px;
        height: 292.346px;
        bottom: -75px;
    }

    .feedback::before {
        left: -100px;
    }

    .feedback::after {
        right: -100px;
    }

    .faq__title {
        font-size: 5.6rem;
        letter-spacing: -2.24px;
    }

    .faq__list {
        margin-top: 80px;
    }

    .faq-item {
        align-items: center;
    }

    .faq-item__input:checked ~ .faq-item__icons {
        top: 0;
    }

    .faq-item__title {
        margin-bottom: 23px;
        font-size: 3.2rem;
    }

    .faq-item__answer {
        width: 60%;
        margin-bottom: 23px;
        font-size: 1.8rem;
    }

    .faq-item__icons {
        flex-direction: column-reverse;
        top: -20px;
    }

    .faq-item__icon {
        width: 50px;
        height: 50px;
        padding: 15px;
    }

    .gallery {
        margin-top: 160px;
    }

    .gallery__title {
        font-size: 5.6rem;
        letter-spacing: -2.24px;
    }

    .gallery__desc {
        font-size: 1.8rem;
    }

    .gallery__link {
        font-size: 3.2rem;
    }

    .gallery__list {
        margin-top: 70px;
    }

    .gallery__dots {
        display: none;
    }

    .cta {
        margin-top: 140px;
    }

    .cta-decor-top-right,
    .cta-decor-left-bottom {
        display: block;
    }

    .footer {
        margin-top: 50px;
        padding: 0;
    }

    .footer__bottom {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        border-top: 1px solid var(--footer-bottom-color);
    }

    .footer__separate {
        display: none;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .header .container,
    .cta .container,
    .footer .container {
        max-width: 1330px;
    }

    .header .container,
    .footer .container {
        padding: 0;
    }

    .show-on-mobile {
        display: none;
    }

    .hero__title {
        font-size: 8rem;
        font-weight: 500;
        line-height: 0.95;
        letter-spacing: -3.2px;
    }

    .logo__list {
        grid-template-columns: repeat(4, auto);
    }

    .work__title {
        font-size: 5.6rem;
        line-height: 1.18;
        letter-spacing: -2.24px;
    }

    .about__title {
        font-size: 5.6rem;
        letter-spacing: -2.24px;
    }

    .about__desc {
        font-size: 1.8rem;
    }

    .cta__title {
        font-size: 4.8rem;
        letter-spacing: -2.24px;
    }

    .cta__desc {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1400px) {
    .hero__row::before {
        right: -190px;
    }

    .footer__bottom {
        padding: 0 129px;
    }
}
