/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .hero__row {
        flex-direction: row-reverse;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .mobile-menu-wrap {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .mail__text {
        display: block;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .header .container,
    .footer .container {
        max-width: 1330px;
    }

    .show-on-mobile {
        display: none;
    }
}
