/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .hero__row {
        flex-direction: row-reverse;
    }

    .hero__content {
        position: relative;
        overflow: hidden;
    }

    .hero__content::before {
        position: absolute;
        right: 0;
        bottom: 0;

        content: url(../img/hero-content-decor.png);
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .btn {
        --height: 62px;

        min-width: 170px;
        padding: 16px 37px;

        font-size: 1.8rem;
        font-weight: 700;
    }

    .mobile-menu-wrap {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .header-mail__text {
        display: block;
    }

    .pc-navbar {
        display: block;
    }

    .header__inner {
        flex-direction: row-reverse;
        border-bottom: none;
    }

    .navbar__list {
        display: flex;
        align-items: center;
        column-gap: 43px;
    }

    .hero__title {
        font-size: 6rem;
    }

    .hero__desc {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
        width: 70%;
    }

    .hero__action {
        margin-top: 50px;
    }

    .hero__socials {
        margin-top: 109px;

        column-gap: 15px;
    }

    .social__icons {
        column-gap: 20px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .header .container,
    .footer .container {
        max-width: 1330px;
    }

    .show-on-mobile {
        display: none;
    }

    .hero__title {
        font-size: 8rem;
        font-weight: 500;
        line-height: 0.95;
        letter-spacing: -3.2px;
    }
}
