* {
    /* Box model */
    box-sizing: border-box;
}

html {
    /* This to set 1 rem = 10px */
    font-size: 62.5%;
}

:root {
    /* color */
    --primary-color: #5d3bee;
    --desc-color: #51586a;
    --heading-color: #080415;
    --btn-color: #fdfdfd;

    /* Border */

    /* background */
    --primary-bg: #fbfaff;

    /* font */
    --primary-font: "DM Sans", sans-serif;
}

body {
    /* To set back body font is 16px */
    font-size: 1.6rem;
    font-family: var(--primary-font);
    font-weight: 400;
}

input,
textarea,
select,
button {
    /* To make font-size, font-family inherit in this html tag */
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.btn {
    --height: 55px;

    display: inline-block;
    min-width: 147px;
    height: var(--height);
    padding: 13px 32px;

    color: var(--btn-color);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.88;

    background: var(--primary-color);
}

/* Header */

.header {
    background: var(--primary-bg);
}

.logo {
    width: 37px;
    height: 44px;
}

.header__inner {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d3e2;
}

.header__right {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-mail {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-mail__icon {
    width: 32px;
    height: 32px;
    color: var(--primary-color);
}

.header-mail__text {
    display: none;
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.toggle-menu__icon {
    width: 32px;
    color: var(--primary-color);
}

.separate {
    border-top: 1.5px solid #ebebeb;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
}

.menu-drawer {
    position: fixed;
    inset: 0 0 0 50%;
    padding: 40px;
    background: #fff;
    z-index: 101;
    transform: translateX(100%);
    transition: 0.5s ease;
}

.menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}

.menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
}

.menu-drawer ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.menu-drawer .nav__item {
    width: 100%;
}

.menu-drawer ul a {
    display: block;
    color: #333;
    padding: 14px 0;
}

.navbar__link {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;

    transition: opacity 0.6s ease;
}

.navbar__list:hover > :not(:hover) {
    opacity: 0.4;
}

.pc-navbar {
    display: none;
}

/* Hero */

.container:has(.hero) {
    background: var(--primary-bg);
}

.hero {
    padding-top: 30px;
    background: var(--primary-bg);
}

.hero__content {
    padding: 20px;
}

.hero__title {
    color: var(--heading-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.hero__desc {
    margin-top: 20px;

    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.63;
}

.hero__action {
    margin-top: 30px;
}

.hero__btn {
    margin-right: 40px;
}

.hero__link {
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.87;
    text-decoration-line: underline;
}

.hero__socials {
    display: flex;
    align-items: center;
    column-gap: 10px;

    margin-top: 30px;
}

.social__text {
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
}

.social__icons {
    display: flex;
    column-gap: 15px;
}

.hero__media {
    position: relative;

    margin-top: 20px;
}

.hero__media::before {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    content: url(../img/hero-bg.png);
}

.hero__img {
    display: block;
    width: 259px;
    height: 355px;
    margin: 0 auto;
    object-fit: cover;
}

/* Client */

.client {
    margin-top: 120px;
}

.client__row {
    row-gap: 42px;
}

.client__title {
    position: relative;

    width: 169px;
    margin: 0 auto;

    color: var(--heading-color);
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -1.12px;
}

.client__title::before {
    position: absolute;
    top: -3px;
    left: 50%;

    content: "";
    width: 48px;
    height: 2px;
    transform: translateX(-50%);

    background: #5d3bee;
}

.logo__list {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;

    padding: 20px;
}

.logo__link {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 15px;
}

.logo__text {
    font-size: 1.5rem;
    color: var(--heading-color);
    font-weight: 600;
}

/* Service */
.service {
    margin-top: 120px;
    padding: 20px;
}

.service__top {
    text-align: center;
}

.service__title {
    color: var(--heading-color);
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: -1.44px;
}

.service__desc {
    margin-top: 20px;

    color: var(--desc-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.63;
}

.service__list {
    margin-top: 50px;

    flex-wrap: nowrap;
    overflow: hidden;
}

.service-item {
    padding: 29px 50px;

    background: var(--primary-bg);
}

.service-item__icon {
    width: 62px;
    height: 62px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(204, 204, 204, 0.5);
}

.service-item__title {
    margin-top: 30px;

    color: var(--heading-color);
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -1.12px;
}

.service-item__desc {
    margin-top: 10px;

    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 82px;
    height: 20px;
    margin: 30px auto 0;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0.2;
    background: #080415;

    transition: 0.25s ease;
}

.dot:hover,
.dot--active {
    width: 20px;
    height: 20px;

    padding: 4px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background: content-box var(--primary-color);

    opacity: 1;
}

/* Work */
.work {
    margin-top: 120px;
    padding: 60px 20px;
    background: var(--primary-color);
}

.work__title {
    padding: 0 23px;

    color: #fff;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: -1.44px;
}

.work__desc {
    margin-top: 20px;

    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.63;

    opacity: 0.6;
}

.work__list {
    margin-top: 60px;
    padding: 0 20px;

    row-gap: 30px;
}

.work-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 170px;
    padding: 20px 15px;

    background: var(--primary-bg);
}

.work-item::before {
    position: absolute;
    right: 0;
    top: 0;

    content: url(../icon/work-item-decor.svg);
}

.work-item__content,
.work-item__img-wrap {
    z-index: 1;
}

.work-item__content {
    width: 50%;
    flex-shrink: 0;
}

.work-item__title {
    color: var(--heading-color);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: -0.96px;
}

.work-item__desc {
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
}

.work-item__link {
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 28px; /* 175% */
    text-decoration-line: underline;
}

.work-item__img {
    width: 122px;
    object-fit: cover;
}

.work-item__img {
    object-fit: cover;
}

.work__action {
    margin-top: 80px;
}

.work-btn {
    display: inline-block;
    background: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;

    transition: 0.5s ease;
}

.work-btn:hover {
    opacity: 0.7;
}

/* About */

.about-stat__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.about-stat__item {
    margin-left: 60px;
}

/* Feedback */
.feedback__list {
    flex-wrap: nowrap;
    overflow: hidden;
}

/* Gallery */
.gallery__list {
    flex-wrap: nowrap;
    overflow: hidden;
}

/* Test css */
.inner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100px;
    margin-bottom: 30px;

    background: #ccc;

    font-size: 30px;
    font-weight: 600;
}
