* {
    /* Box model */
    box-sizing: border-box;
}

html {
    /* This to set 1 rem = 10px */
    font-size: 62.5%;
}

:root {
    /* color */

    /* Border */

    /* background */

    /* font */
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Inter", sans-serif;
}

body {
    /* To set back body font is 16px */
    font-size: 1.6rem;
    font-family: var(--primary-font);
    font-weight: 400;
}

input,
textarea,
select,
button {
    /* To make font-size, font-family inherit in this html tag */
    font-size: inherit;
    font-family: inherit;
}

/* Header */

.header {
    padding: 20px;
}

.logo {
    width: 37px;
    height: 44px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mail__icon {
    width: 32px;
    height: 32px;
    color: #5d3bee;
}

.mail__text {
    display: none;
}

.toggle-menu__icon {
    width: 32px;
    color: #5d3bee;
}

.separate {
    border-top: 1.5px solid #ebebeb;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
}

.menu-drawer {
    position: fixed;
    inset: 0 0 0 60%;
    padding: 40px;
    background: #fff;
    z-index: 101;
    transform: translateX(100%);
    transition: 0.5s ease;
}

.menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}

.menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
}

.menu-drawer ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.menu-drawer .nav__item {
    width: 100%;
}

.menu-drawer ul a {
    display: block;
    color: #333;
    padding: 14px 0;
}

.navbar__link {
    color: #51586a;
    font-family: "DM Sans";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

/* Service */
.service__list {
    flex-wrap: nowrap;
    overflow: hidden;
}

/* About */

.about-stat__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.about-stat__item {
    margin-left: 60px;
}

/* Feedback */
.feedback__list {
    flex-wrap: nowrap;
    overflow: hidden;
}

/* Gallery */
.gallery__list {
    flex-wrap: nowrap;
    overflow: hidden;
}

/* Test css */
.inner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100px;
    margin-bottom: 30px;

    background: #ccc;

    font-size: 30px;
    font-weight: 600;
}
